@charset "UTF-8";
/* CSS Document */

   main {
       /*background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#ffffff));*/
       padding: 10px 10px 10px 10px;
   }
	body {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px; 
		line-height:25px;
		/*padding-top:60px;*/
		height:100%;
		/* IE10 Consumer Preview */ 
		background: -ms-linear-gradient(top, #dddddd 0%, #ffffff 100%);
	
		/* Mozilla Firefox */ 
		background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 100%);
		
		/* Opera */ 
		background: -o-linear-gradient(top, #dddddd 0%, #ffffff 100%);
		
		/* Webkit (Safari/Chrome 10) */ 
		/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dddddd), color-stop(1, #ffffff));*/
        background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#ffffff));
		
		/* Webkit (Chrome 11+) */ 
		background: -webkit-linear-gradient(top, #dddddd 0%, #ffffff 100%);
		
		/* W3C Markup, IE10 Release Preview */ 
		background: linear-gradient(to bottom, #dddddd 0%, #ffffff 100%);
		background-attachment:fixed;
		}
	
	h1 { font-size:30px; padding:30px 0 20px 0; font-weight:600; color:#797979; text-transform:uppercase; }
	h2 { font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; font-size: 15px; }
	
	.price { color:#e13d00; text-transform:uppercase; font-size:40px; font-weight:600; height:213px; position:relative; }
	.price span.total { position:absolute; left:-50px; bottom:64px; }
    .price span.total_value { position:absolute; left:150px; bottom:64px; width: 100% }
    .price span.monthly { position:absolute; left:-50px; bottom:24px; }
    .price span.monthly_value { position:absolute; left:150px; bottom:24px; width: 100% }
	
	ul.feature-list {
		display:block;
		overflow:auto;
		padding-bottom:0px;
		}
		
	ul.feature-list li {
		width:48%;
		margin:0 2% 0 0;
		float:left;
		font-size:24px;
		font-weight: normal;
		line-height: 32px;
		color:#b2b1b1;
	}
	
	ul.feature-list li span { 
		color:#797979;
		}
		
	ul.options { 
		display:block; 
		overflow: auto; 
		padding-bottom:20px;
		float:left;
		}
	
	ul.options li {
		width:48%;
		float:left;
		margin:0 2% 0 0;
		font-family:Arial, sans-serif, Gotham, "Helvetica Neue", Helvetica;
		font-size: 12px;
		font-weight:bold;
		line-height: 28px;
		padding: 0 30px 0 0;
        list-style: disc;
        color: #e13d00;
	}

    ul.options li span{
        color: #000000;
    }
	
	ul.options li:before {
		/*background-color: #e13d00;*/
		/*border-radius: 50%;*/
		content: "";
		float: left;
		height: 0.5em;
		line-height: 1em;
		margin: 0.5em 1em 0 0;
		width: 1em;
	}
	
	
	
	#footer {
        font-weight: bold;
		background:#e13d00; 
		color:#fff; 
		padding-top:10px;
		padding-bottom:10px;
		/*margin-top:26px; */
		text-align:center;
		font-size:12px;
		}

