<html>
<head></head>
<body style="margin: 0;background-color:#4b4b4b;" bgcolor="#4b4b4b">
<table bgcolor="#4b4b4b" width="100%" height="100%" style="background-color:#4b4b4b;width: 100%;height:100%;" cellpadding="0" cellspacing="0">
<tr><td>
<center>

	<div style="color:#fff;margin:10px 0 15px;font-family: 'Trebuchet MS';font-size:12px;"><a href="!!!!viewonline!!!!" style="color:#ff5702;text-decoration:none;" target="_blank">Klik hier</a> als deze nieuwsbrief niet goed weergegeven word</div>
	<table cellpadding="0" cellspacing="0">
	
		<tr>
			<td width="7" 	background="!!!!root!!!!img/newsletter_shadow_left.jpg" style="background-image: url('!!!!root!!!!img/newsletter_shadow_left.jpg');background-repeat: repeat-y;"></td>
			<td width="764" background="!!!!root!!!!img/newsletter_bg.jpg" 		 style="background-color: #f4f4f4;background-image: url('!!!!root!!!!img/newsletter_bg.jpg');background-repeat: repeat-x;">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td valign="top">
							<a href="!!!!root!!!!" target="_blank"><img src="!!!!root!!!!img/newsletter_logo.jpg" border="0" /></a>
						</td>		
						<td height="174" valign="top">
						
							<table cellpadding="0" cellspacing="0" width="527" style="font-family: 'Impact',sans-serif;text-transform:uppercase;">
							
								<tr><td height="63" colspan="3"></td></tr>
								<tr style="color:#fff;font-size:18px;" bgcolor="#dc3600" background="!!!!root!!!!img/newsletter_orange_bar.jpg" style="background-color: #dc3600;">
									<td height="46" width="400" valign="center" style="padding-left: 15px;font-family: 'Impact',sans-serif;text-transform:uppercase;background-image: url('!!!!root!!!!img/newsletter_orange_bar.jpg');background-position:left;">
									@@@@title@@@@
									</td>
									<td height="46" width="332" align="right" valign="center" style="font-family: 'Impact',sans-serif;text-transform:uppercase;background-image: url('!!!!root!!!!img/newsletter_orange_bar.jpg');background-position:-250px;">
										volg ons op
										<a target="_blank" href="http://twitter.com/ASH_cars"><img src="!!!!root!!!!img/twitter.png"  border="0" alt="Twitter"  style="vertical-align:bottom;" /></a> 
										<a target="_blank" href="http://www.facebook.com/people/Ash-Deinum/100000800897737"><img src="!!!!root!!!!img/facebook.png" border="0" alt="Facebook" style="vertical-align:bottom;" /></a> 
										<a target="_blank" href="http://www.youtube.com/user/mlo369"><img src="!!!!root!!!!img/youtube.png"  border="0" alt="Youtube"  style="vertical-align:bottom;" /></a> 
									</td>
									<td width="66" style="background-image: url('!!!!root!!!!img/newsletter_orange_bar.jpg');background-position:250px;">
									</td>
								</tr>
								<tr>
									<td height="45" style="color: #737373;font-size:11px;padding-left:15px;font-family: 'Impact',sans-serif;text-transform:uppercase;" colspan="3">
									ASH  |  Zijlweg 294  |  2015 CN Haarlem  |  T. 023-5392024  |  F. 023-5269898  |   <a href="mailto:info@autoservicehaarlem.nl" style="color:#ff5702;text-decoration:none;">info@autoservicehaarlem.nl</a>
									</td>
								</tr>
								<tr><td height="20" colspan="2"></td></tr>
							
							</table>
						
						</td>			
					</tr>
				</table>
				
				<table cellpadding="0" cellspacing="0" style="margin-left: 24px;">
					%%%%blocks%%%%
					<tr><td>				
						<table cellpadding="0" cellspacing="0" width="227" height="264">
						
							<tr>
								<td colspan="3" height="5" align="right"><a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_one?merk???? ????cars?voertuignr_hexon?car_one?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_one?voertuignr????.html" target="_blank"><img src="!!!!root!!!!img/newsletter_car_top.png" style="vertical-align:bottom" /></a></td>
							</tr>
							<tr>
								<td colspan="3" height="200" valign="top" background="!!!!root!!!!img/newsletter_car_mid.png" style="padding-left:19px;background-image: url('!!!!root!!!!img/newsletter_car_mid.png');background-repeat: repeat-y;">
									<a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_one?merk???? ????cars?voertuignr_hexon?car_one?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_one?voertuignr????.html" target="_blank"><img src="!!!!root!!!!img/cars/????cars?voertuignr_hexon?car_one?voertuignr????_thumb.jpg" style="vertical-align:bottom" /></a>
									
									<div style="font-family: 'Impact',sans-serif;font-size:22px;color:#797979;text-transform:uppercase;margin-top:11px;margin-left:5px;"><a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_one?merk???? ????cars?voertuignr_hexon?car_one?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_one?voertuignr????.html" style="color:#797979;text-decoration:none;" target="_blank">^^^^substr^^0^^16^^^^????cars?voertuignr_hexon?car_one?merk???? ????cars?voertuignr_hexon?car_one?model????^^^^/substr^^^^</a></div>
									
								</td>
							</tr>
							<tr>
								<td height="39" width="14"><img src="!!!!root!!!!img/newsletter_car_label_left.png" style="vertical-align:bottom"/></td>
								<td height="39" width="160" background="!!!!root!!!!img/newsletter_car_label_bg.png" bgcolor="#e33e00" style="background-color: #e33e00;background-image: url('!!!!root!!!!img/newsletter_car_label_bg.png');background-position:right;font-family:'Impact',sans-serif;font-size:24px;color:#fff;padding-left:10px;">
									<a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_one?merk???? ????cars?voertuignr_hexon?car_one?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_one?voertuignr????.html" style="color: #fff;text-decoration:none;" target="_blank">&euro; ^^^^numformat^^0^^,^^.^^^^????cars?voertuignr_hexon?car_one?verkoopprijs_particulier????^^^^/numformat^^^^ ,-</a>
								</td>
								<td height="39" width="47"><img src="!!!!root!!!!img/newsletter_car_arrow.png" style="vertical-align:bottom" /></td>
							</tr>
							<tr>
								<td colspan="3" height="20"><img src="!!!!root!!!!img/newsletter_car_bot.png" style="vertical-align:bottom" /></td>
							</tr>
						
						</table>
					</td>
					<td width="12"></td>
					<td>				
						<table cellpadding="0" cellspacing="0" width="227" height="264">
						
							<tr>
								<td colspan="3" height="5" align="right"><a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_two?merk???? ????cars?voertuignr_hexon?car_two?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_two?voertuignr????.html" target="_blank"><img src="!!!!root!!!!img/newsletter_car_top.png" style="vertical-align:bottom" /></a></td>
							</tr>
							<tr>
								<td colspan="3" height="200" valign="top" background="!!!!root!!!!img/newsletter_car_mid.png" style="padding-left:19px;background-image: url('!!!!root!!!!img/newsletter_car_mid.png');background-repeat: repeat-y;">
									<a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_two?merk???? ????cars?voertuignr_hexon?car_two?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_two?voertuignr????.html" target="_blank"><img src="!!!!root!!!!img/cars/????cars?voertuignr_hexon?car_two?voertuignr????_thumb.jpg" style="vertical-align:bottom" /></a>
									
									<div style="font-family: 'Impact',sans-serif;font-size:22px;color:#797979;text-transform:uppercase;margin-top:11px;margin-left:5px;"><a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_two?merk???? ????cars?voertuignr_hexon?car_two?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_two?voertuignr????.html" style="color:#797979;text-decoration:none;" target="_blank">^^^^substr^^0^^16^^^^????cars?voertuignr_hexon?car_two?merk???? ????cars?voertuignr_hexon?car_two?model????^^^^/substr^^^^</a></div>
									
								</td>
							</tr>
							<tr>
								<td height="39" width="14"><img src="!!!!root!!!!img/newsletter_car_label_left.png" style="vertical-align:bottom"/></td>
								<td height="39" width="160" background="!!!!root!!!!img/newsletter_car_label_bg.png" bgcolor="#e33e00" style="background-color: #e33e00;background-image: url('!!!!root!!!!img/newsletter_car_label_bg.png');background-position:right;font-family:'Impact',sans-serif;font-size:24px;color:#fff;padding-left:10px;">
									<a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_two?merk???? ????cars?voertuignr_hexon?car_two?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_two?voertuignr????.html" style="color: #fff;text-decoration:none;" target="_blank">&euro; ^^^^numformat^^0^^,^^.^^^^????cars?voertuignr_hexon?car_two?verkoopprijs_particulier????^^^^/numformat^^^^ ,-</a>
								</td>
								<td height="39" width="47"><img src="!!!!root!!!!img/newsletter_car_arrow.png" style="vertical-align:bottom" /></td>
							</tr>
							<tr>
								<td colspan="3" height="20"><img src="!!!!root!!!!img/newsletter_car_bot.png" style="vertical-align:bottom" /></td>
							</tr>
						
						</table>
					</td>
					<td width="12"></td>
					<td>				
						<table cellpadding="0" cellspacing="0" width="227" height="264">
						
							<tr>
								<td colspan="3" height="5" align="right"><a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_three?merk???? ????cars?voertuignr_hexon?car_three?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_three?voertuignr????.html" target="_blank"><img src="!!!!root!!!!img/newsletter_car_top.png" style="vertical-align:bottom" /></a></td>
							</tr>
							<tr>
								<td colspan="3" height="200" valign="top" background="!!!!root!!!!img/newsletter_car_mid.png" style="padding-left:19px;background-image: url('!!!!root!!!!img/newsletter_car_mid.png');background-repeat: repeat-y;">
									<a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_three?merk???? ????cars?voertuignr_hexon?car_three?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_three?voertuignr????.html" target="_blank"><img src="!!!!root!!!!img/cars/????cars?voertuignr_hexon?car_three?voertuignr????_thumb.jpg" style="vertical-align:bottom" /></a>
									
									<div style="font-family: 'Impact',sans-serif;font-size:22px;color:#797979;text-transform:uppercase;margin-top:11px;margin-left:5px;"><a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_three?merk???? ????cars?voertuignr_hexon?car_three?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_three?voertuignr????.html" style="color:#797979;text-decoration:none;" target="_blank">^^^^substr^^0^^16^^^^????cars?voertuignr_hexon?car_three?merk???? ????cars?voertuignr_hexon?car_three?model????^^^^/substr^^^^</a></div>
									
								</td>
							</tr>
							<tr>
								<td height="39" width="14"><img src="!!!!root!!!!img/newsletter_car_label_left.png" style="vertical-align:bottom"/></td>
								<td height="39" width="160" background="!!!!root!!!!img/newsletter_car_label_bg.png" bgcolor="#e33e00" style="background-color: #e33e00;background-image: url('!!!!root!!!!img/newsletter_car_label_bg.png');background-position:right;font-family:'Impact',sans-serif;font-size:24px;color:#fff;padding-left:10px;">
									<a href="!!!!root!!!!voorraad/^^^^slug^^^^????cars?voertuignr_hexon?car_three?merk???? ????cars?voertuignr_hexon?car_three?model????^^^^/slug^^^^-????cars?voertuignr_hexon?car_three?voertuignr????.html" style="color: #fff;text-decoration:none;" target="_blank">&euro; ^^^^numformat^^0^^,^^.^^^^????cars?voertuignr_hexon?car_three?verkoopprijs_particulier????^^^^/numformat^^^^ ,-</a>
								</td>
								<td height="39" width="47"><img src="!!!!root!!!!img/newsletter_car_arrow.png" style="vertical-align:bottom" /></td>
							</tr>
							<tr>
								<td colspan="3" height="20"><img src="!!!!root!!!!img/newsletter_car_bot.png" style="vertical-align:bottom" /></td>
							</tr>
						
						</table>
					</td>
					</tr><tr><td height="8"></td></tr>
					%%%%/blocks%%%%
					<tr><td height="18"></td></tr>
				</table>
			
			</td>
			<td width="7" background="!!!!root!!!!img/newsletter_shadow_right.jpg" style="background-image: url('!!!!root!!!!img/newsletter_shadow_right.jpg');background-repeat: repeat-y;"></td>
		</tr>
		<tr height="28">
			<td width="7" height="28" 	background="!!!!root!!!!img/newsletter_shadow_left.jpg" style="background-image: url('!!!!root!!!!img/newsletter_shadow_left.jpg');background-repeat: repeat-y;"></td>
			<td height="28" align="center" bgcolor="#dc3600" background="!!!!root!!!!img/newsletter_bg_bot.jpg" style="font-size:11px;font-family:'Trebuchet MS';color:#fff;line-height:28px;height:28px;background-color: #dc3600;background-image: url('!!!!root!!!!img/newsletter_bg_bot.jpg');background-repeat: repeat-x;">
			&copy; 2011 Auto Service Haarlem. Alle rechten voorbehouden. | Wilt u deze nieuwbrief niet meer ontvangen. <a href="!!!!signoutlink!!!!" target="_blank" style="color: #fff;">klik hier</a> | Created by <a href="http://www.codecreators.nl/" target="_blank" style="color: #fff;">CodeCreators</a>
			</td>
			<td width="7" height="28" background="!!!!root!!!!img/newsletter_shadow_right.jpg" style="background-image: url('!!!!root!!!!img/newsletter_shadow_right.jpg');background-repeat: repeat-y;"></td>
		</tr>
		<tr></a><td colspan="3" height="15"></td></tr>
	
	</table>

</center>
</td></tr>
</table>
</body>
</html>