<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Printen</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://www.autoservicehaarlem.nl/assets/css/reset.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://www.autoservicehaarlem.nl/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.autoservicehaarlem.nl/assets/css/autokaartAutoplan.css">

</head>

<body>
<section id="footer" style="background-color: #1362a3;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Autoplan Nederland | Munterslaan 2A | 2014 KW Haarlem | T. 023 792 00 02 | info@autoplannederland.nl
            </div>
        </div>
    </div>
</section>
</body>
</html>